@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fall {
  from {
    top: -40px;
  }
  to {
    top: 260px; /* même hauteur que la play area */
  }
}

.animate-fall {
  animation: fall 3.2s linear forwards;
}
